:root{
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  /* background-image: url("bg.jpeg"); */
  background-image: linear-gradient(to right, rgba(255, 33, 33, 0.834) , rgb(67, 67, 254));
  /* background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover ; */
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  flex-direction: column;
}


.form1{
  width: 330px;
  height: 420px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #71b7e6;
  
  border-radius: 20px ;
  font-weight:490;
  font-size: 20px;
  margin-bottom: 32px;

} 

.mb-3{
  padding-bottom: 15px;

}

.btn {
  margin-left: 78px;
  background-image: linear-gradient(rgba(253, 56, 56, 0.834) , rgb(107, 107, 255));
  width: 100px;
}

.records{
  height: 47px;
  width: 510px;
  background-color: #71b7e6;
  margin-top: 10px;
  border-radius: 30px;
  margin-left: 35px;
}

p{
  display: inline-block;
  padding: 10px;
  margin-left: 60px;
}

.form-control{
  width: 16rem;
} 

